// Global default params, used in configs
params {
  help = false
  umap = false
  n_pca_unintegrated = 30
  save_model = false
  check_val_every_n_epoch = 5
  scib_max_obs = 500000
  umap_seed = 123
}

// Singularity environment parameters
singularity {
  enabled     = true
  autoMounts  = true
  cacheDir = '/nfs/cellgeni/singularity/images/'
  runOptions = '-B /lustre,/nfs --nv' //--nv enables nvidia GPU support
}

// Configuring LSF job submission parameters for each process
executor {
  name = 'lsf'
  perJobMemLimit = true
}

profiles {

    local {
        process {
            executor = 'local'
            cpus = 2
        }
    }
}



process {
  container     = '/nfs/cellgeni/singularity/images/scvi_metrics.sif'
  errorStrategy = 'retry' // 'terminate'
  maxRetries = 3
  maxForks = 32

  withName: parse_inputs {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
    queue = 'normal'
  }

  withName: prune_adata {
    cpus = { 1 * task.attempt }
  }

  withName: run_scVI {
    cpus = { 1 * task.attempt }
    clusterOptions = { ' -gpu "mode=shared:j_exclusive=no:gmem=6000:num=1"' }
  }

  withName: run_scib {
    cpus = { 2 * task.attempt }
  }

  withName: run_umap {
    cpus = { 1 * task.attempt }
  }

  withName: plot_history {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
    queue = 'normal'
  }

  withName: plot_scib {
    cpus = { 1 * task.attempt }
    memory = { 8.GB * task.attempt }
    queue = 'normal'
  }

  withName: plot_umap {
    cpus = { 1 * task.attempt }
    memory = { 8.GB * task.attempt }
    queue = 'normal'
  }

  withName: combine_embedding {
    cpus = { 1 * task.attempt }
  }
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Capturing Nextflow log files into a reports directory
import java.time.*
Date now = new Date()

params {
    timestamp = now.format("yyyyMMdd-HH-mm-ss")
}

timeline {
   enabled = true
   file = "nf-reports/${params.timestamp}_timeline.html"
}

report {
   enabled = true
   file = "nf-reports/${params.timestamp}_report.html"
}

trace {
   enabled = true
   file = "nf-reports/${params.timestamp}_trace.txt"
}

workDir   = "nf-work"