// Global default params, used in configs
params {
  gpu_group = null

  output_dir = "nf-results"
  help = false
  umap = false
  n_pca_unintegrated = 30
  save_model = false
  check_val_every_n_epoch = 5
  scib_max_obs = 500000
  umap_seed = 123
}

// Singularity environment parameters
singularity {
  enabled     = true
  autoMounts  = true
  cacheDir = '/nfs/cellgeni/singularity/images/'
  runOptions = '-B /lustre,/nfs --nv' //--nv enables nvidia GPU support
}

// Configuring LSF job submission parameters for each process
executor {
  name = 'lsf'
  perJobMemLimit = true
}

profiles {

    local {
        process {
            executor = 'local'
            cpus = 2
        }
    }
}

def CalculateMemory(adata_size, factor, attempt) {
    if (adata_size < 2.GB) {
        return 2.GB * factor * attempt
    }
    return adata_size * factor * attempt
}

process {
  container     = '/nfs/cellgeni/singularity/images/scvi_metrics.sif'
  errorStrategy = 'retry' // 'terminate'
  maxRetries = 3
  maxForks = 32

  withLabel: 'process_local' {
    executor = 'local'
  }

  withLabel: 'process_gpu' {
      queue          = 'cub22-inference'
      containerOptions = "--nv"
      clusterOptions = { "-G ${params.gpu_group} -gpu 'mode=shared:j_exclusive=no:gmem=6000:num=1'" }
  }

  withName: parse_inputs {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
    queue = 'normal'
  }

  withName: prune_adata {
    memory = { CalculateMemory(raw_adata.size(), 6, task.attempt) }
    queue = { CalculateMemory(raw_adata.size(), 6, task.attempt) < 680.GB ? "normal" : "hugemem" }
    cpus = { 1 * task.attempt }
  }

  withName: run_scVI {
    cpus = { 1 * task.attempt }
    memory = { CalculateMemory(adata.size(), 4, task.attempt) }
  }

  withName: run_scib {
    memory = { CalculateMemory(adata.size(), 8, task.attempt) }
    queue = { CalculateMemory(adata.size(), 8, task.attempt) < 680.GB ? "normal" : "hugemem" }
    cpus = { 2 * task.attempt }
  }

  withName: run_umap {
    memory = { CalculateMemory(adata.size(), 12, task.attempt) }
    queue = { CalculateMemory(adata.size(), 12, task.attempt) < 680.GB ? "normal" : "hugemem" }
    cpus = { 1 * task.attempt }
  }

  withName: plot_history {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
    queue = 'normal'
  }

  withName: plot_scib {
    cpus = { 1 * task.attempt }
    memory = { 16.GB * task.attempt }
    queue = 'normal'
  }

  withName: plot_umap {
    cpus = { 1 * task.attempt }
    memory = { 8.GB * task.attempt }
    queue = 'normal'
  }

  withName: combine_embedding {
    memory = { CalculateMemory(raw_adata.size(), 2, task.attempt) }
    queue = { CalculateMemory(raw_adata.size(), 2, task.attempt) < 680.GB ? "normal" : "hugemem" }
    cpus = { 1 * task.attempt }
  }
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Capturing Nextflow log files into a reports directory
import java.time.*
Date now = new Date()

params {
    timestamp = now.format("yyyyMMdd-HH-mm-ss")
}

timeline {
   enabled = true
   file = "nf-reports/${params.timestamp}_timeline.html"
}

report {
   enabled = true
   file = "nf-reports/${params.timestamp}_report.html"
}

trace {
   enabled = true
   file = "nf-reports/${params.timestamp}_trace.txt"
}

workDir   = "nf-work"