// Global default params, used in configs
params {
  help = false
  umap = false
}

// Singularity environment parameters
singularity {
  enabled     = true
  autoMounts  = true
  cacheDir = '/nfs/cellgeni/singularity/images/'
  runOptions = '-B /lustre,/nfs --nv' //--nv enables nvidia GPU support
}

// Configuring LSF job submission parameters for each process
executor {
  name = 'lsf'
  perJobMemLimit = true
}

process {
  container     = '/nfs/cellgeni/singularity/images/scvi_metrics.sif'
  errorStrategy = 'retry'
  maxRetries = 1
  maxForks = 32

  withName: parse_inputs {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
    queue = 'normal'
  }

  withName: get_adata {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
    queue = 'transfer'
  }

  withName: prune_adata {
    cpus = { 1 * task.attempt }
    queue = 'normal'
  }

  withName: run_scVI {
    cpus = { 2 * task.attempt }
    queue = 'gpu-normal'
    clusterOptions = { ' -gpu "mode=shared:j_exclusive=no:gmem=6000:num=1"' }
  }

  withName: run_scib {
    cpus = { 2 * task.attempt }
    queue = 'normal'
  }

  withName: run_umap {
    cpus = { 1 * task.attempt }
    queue = 'normal'
  }

  withName: plot_history {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
    queue = 'normal'
  }

  withName: plot_scib {
    cpus = { 1 * task.attempt }
    memory = { 8.GB * task.attempt }
    queue = 'normal'
  }

  withName: plot_umap {
    cpus = { 1 * task.attempt }
    memory = { 8.GB * task.attempt }
    queue = 'normal'
  }

  withName: combine_embedding {
    cpus = { 1 * task.attempt }
    queue = 'normal'
  }
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Capturing Nextflow log files into a reports directory
timeline {
   enabled = true
   file = "scHPT-reports/timeline.html"
   overwrite = true
}

report {
   enabled = true
   file = "scHPT-reports/report.html"
   overwrite = true
}

trace {
   enabled = true
   file = "scHPT-reports/trace.txt"
   overwrite = true
}

// Ensures work directories and removed when pipeline completes
cleanup = true
